<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Home - Turismo</title>
</head>
<body>
<div layout:fragment="conteudo">
    <header>
        <h1>Turismo MVC</h1>
    </header>
    <main>
        <h2>Bem-vindo ao sistema de turismo!</h2>
        <p>Use o menu acima para cadastrar e encontrar lugares.</p>
    </main>
</div>
</body>
</html>
